<div style="min-height:1px;padding-right:15px;padding-left:15px" align="center">
	<img src="<?php echo FULL_BASE_URL.$this->webroot.'img/logo.png'; ?>" align="center">	
</div>

<h1><?php echo $set1['Room']['name']; ?></h1>
<h3><a href="<?php echo 'http://www.agri.cmu.ac.th'.$this->Html->url(array('action' => 'reservation',$set1['User']['code'])); ?>" target="_blank">รายละเอียดการจองคลิก !!</a></h3>
<?php 
    $new_startDate2 = date("Y-m-d",strtotime($set1['User']['modified']));
    $strNewDate2 = date("Y-m-d", strtotime("+3 day", strtotime($new_startDate2)));
    $str2=explode("-",$strNewDate2);
    $date2 = trim($str2[2]).'/'.trim($str2[1]).'/'.trim($str2[0]); 
?>
<?php 
    if($set1['User']['status'] == 1){
        $text_status = 'รอการตรวจสอบ';
    }elseif($set1['User']['status'] == 2){
        $text_status = 'รายการของท่านอนุมัติแล้วกรุณาชำระเงินภายในวันที่ '.$date2;
    }elseif($set1['User']['status'] == 3){
        $text_status = 'ชำระเงินเรียบร้อย';
    }else{
        $text_status = 'ขออภัยรายการทีท่านจองไม่ผ่านการอนุมัติ';
    }
    //echo '<h3>'.$text_status.'</h3>';
?>
<h2><?php echo $text_status; ?></h2>