.btn-blue {
  background-color:#009aff;
  color: white;
}

.btn-blue:hover {
	background-color:#33adff;
}


@font-face {
    font-family: ACEspressa;
    src: url('font/AC Espressa.ttf');
}

.navbar-nav2 > li > a {
	color: #333 !important;
	font-size: 16px;

}

.navbar-nav2 > li > a:hover {
    background-color: #f5ebbd !important;
	font-size: 18px;
}