imghover {
    filter: blur(5px); /* IE6-9 */
    -webkit-filter: opacity(80%); /* Google Chrome, Safari 6+ & Opera 15+ */
      -webkit-box-shadow: 0px 2px 6px 2px rgb(253,212,97);
      -moz-box-shadow: 0px 2px 6px 2px rgb(253,212,97);
      box-shadow: 0px 2px 6px 2px rgb(253,212,97);
      margin-bottom:20px;
  }
  
  imghover:hover {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
   
  }