<!--
    Winhweel.js hollow (doughnut) code wheel example by Douglas McKechie @ www.dougtesting.net
    See website for tutorials and other documentation.

    The MIT License (MIT)

    Copyright (c) 2016 Douglas McKechie

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
-->
<html>
    <head>
        <title>Lucky Spin</title>
        <link rel="stylesheet" href="main.css" type="text/css" />
        <?php echo $this->Html->css('/assets/winwheel/examples/hollow_wheel/main.css'); ?>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        <?php echo $this->Html->script('/assets/winwheel/Winwheel.js'); ?>
    </head>
    <body>
        <div align="center">

            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td>
                        <div class="power_controls">
                            <br />
                            <br />
                            <!--<table class="power" cellpadding="10" cellspacing="0">
                                <tr>
                                    <th align="center">Power</th>
                                </tr>
                                <tr>
                                    <td width="78" align="center" id="pw3" onClick="powerSelected(3);">High</td>
                                </tr>
                                <tr>
                                    <td align="center" id="pw2" onClick="powerSelected(2);">Med</td>
                                </tr>
                                <tr>
                                    <td align="center" id="pw1" onClick="powerSelected(1);">Low</td>
                                </tr>
                            </table>-->
                            <br />
                            <img id="spin_button" src="<?php echo $this->webroot.'/assets/winwheel/examples/hollow_wheel/spin_on.png';?>" alt="Spin" onClick="startSpin();" />
                            <br /><br />
                            <!--&nbsp;&nbsp;<a href="#" onClick="resetWheel(); return false;">Play Again</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(reset)-->
                        </div>
                    </td>
                    <td width="438" height="582" class="the_wheel" align="center" valign="center">
                        <canvas id="canvas" width="434" height="434">
                            <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                        </canvas>
                    </td>
                </tr>
            </table>
        </div>
        <script>
            // Create new wheel object specifying the parameters at creation time.
            var theWheel = new Winwheel({
                'numSegments'   : 30,   // Specify number of segments.
                'outerRadius'   : 212,  // Set radius to so wheel fits the background.
                'innerRadius'   : 120,  // Set inner radius to make wheel hollow.
                'textFontSize'  : 16,   // Set font size accordingly.
                'textMargin'    : 0,    // Take out default margin.
                'segments'      :       // Define segments including colour and text.
                [
                   {'fillStyle' : '#eae56f', 'text' : '1'},
                   {'fillStyle' : '#89f26e', 'text' : '2'},
                   {'fillStyle' : '#7de6ef', 'text' : '3'},
                   {'fillStyle' : '#e7706f', 'text' : '4'},
                   {'fillStyle' : '#eae56f', 'text' : '5'},
                   {'fillStyle' : '#89f26e', 'text' : '6'},
                   {'fillStyle' : '#7de6ef', 'text' : '7'},
                   {'fillStyle' : '#e7706f', 'text' : '8'},
                   {'fillStyle' : '#eae56f', 'text' : '9'},
                   {'fillStyle' : '#89f26e', 'text' : '10'},
                   {'fillStyle' : '#7de6ef', 'text' : '11'},
                   {'fillStyle' : '#e7706f', 'text' : '12'},
                   {'fillStyle' : '#eae56f', 'text' : '13'},
                   {'fillStyle' : '#89f26e', 'text' : '14'},
                   {'fillStyle' : '#7de6ef', 'text' : '15'},
                   {'fillStyle' : '#eae56f', 'text' : '1'},
                   {'fillStyle' : '#89f26e', 'text' : '2'},
                   {'fillStyle' : '#7de6ef', 'text' : '3'},
                   {'fillStyle' : '#e7706f', 'text' : '4'},
                   {'fillStyle' : '#eae56f', 'text' : '5'},
                   {'fillStyle' : '#89f26e', 'text' : '6'},
                   {'fillStyle' : '#7de6ef', 'text' : '7'},
                   {'fillStyle' : '#e7706f', 'text' : '8'},
                   {'fillStyle' : '#eae56f', 'text' : '9'},
                   {'fillStyle' : '#89f26e', 'text' : '10'},
                   {'fillStyle' : '#7de6ef', 'text' : '11'},
                   {'fillStyle' : '#e7706f', 'text' : '12'},
                   {'fillStyle' : '#eae56f', 'text' : '13'},
                   {'fillStyle' : '#89f26e', 'text' : '14'},
                   {'fillStyle' : '#7de6ef', 'text' : '15'},
                   {'fillStyle' : '#e7706f', 'text' : '16'}
                ],
                'animation' :           // Define spin to stop animation.
                {
                    'type'     : 'spinToStop',
                    'duration' : 5,
                    'spins'    : 8,
                    'callbackFinished' : alertPrize
                }
            });

            // Vars used by the code in this page to do power controls.
            var wheelPower    = 0;
            var wheelSpinning = false;

            // -------------------------------------------------------
            // Function to handle the onClick on the power buttons.
            // -------------------------------------------------------
            function powerSelected(powerLevel)
            {
                // Ensure that power can't be changed while wheel is spinning.
                if (wheelSpinning == false)
                {
                    // Reset all to grey incase this is not the first time the user has selected the power.
                    document.getElementById('pw1').className = "";
                    document.getElementById('pw2').className = "";
                    document.getElementById('pw3').className = "";

                    // Now light up all cells below-and-including the one selected by changing the class.
                    if (powerLevel >= 1)
                    {
                        document.getElementById('pw1').className = "pw1";
                    }

                    if (powerLevel >= 2)
                    {
                        document.getElementById('pw2').className = "pw2";
                    }

                    if (powerLevel >= 3)
                    {
                        document.getElementById('pw3').className = "pw3";
                    }

                    // Set wheelPower var used when spin button is clicked.
                    wheelPower = powerLevel;

                    // Light up the spin button by changing it's source image and adding a clickable class to it.
                    document.getElementById('spin_button').src = "<?php echo $this->webroot.'/assets/winwheel/examples/hollow_wheel/spin_on.png';?>";
                    document.getElementById('spin_button').className = "clickable";
                }
            }

            // -------------------------------------------------------
            // Click handler for spin button.
            // -------------------------------------------------------
            function startSpin()
            {
                // Ensure that spinning can't be clicked again while already running.
                if (wheelSpinning == false)
                {
                    // Based on the power level selected adjust the number of spins for the wheel, the more times is has
                    // to rotate with the duration of the animation the quicker the wheel spins.
                    if (wheelPower == 1)
                    {
                        theWheel.animation.spins = 3;
                    }
                    else if (wheelPower == 2)
                    {
                        theWheel.animation.spins = 8;
                    }
                    else if (wheelPower == 3)
                    {
                        theWheel.animation.spins = 15;
                    }

                    // Disable the spin button so can't click again while wheel is spinning.
                    document.getElementById('spin_button').src       = "<?php echo $this->webroot.'/assets/winwheel/examples/hollow_wheel/spin_off.png';?>";
                    document.getElementById('spin_button').className = "";

                    // Begin the spin animation by calling startAnimation on the wheel object.
                    theWheel.startAnimation();

                    // Set to true so that power can't be changed and spin button re-enabled during
                    // the current animation. The user will have to reset before spinning again.
                    wheelSpinning = true;
                }
            }

            // -------------------------------------------------------
            // Function for reset button.
            // -------------------------------------------------------
            function resetWheel()
            {
                theWheel.stopAnimation(false);  // Stop the animation, false as param so does not call callback function.
                theWheel.rotationAngle = 0;     // Re-set the wheel angle to 0 degrees.
                theWheel.draw();                // Call draw to render changes to the wheel.

                document.getElementById('pw1').className = "";  // Remove all colours from the power level indicators.
                document.getElementById('pw2').className = "";
                document.getElementById('pw3').className = "";

                wheelSpinning = false;          // Reset to false to power buttons and spin can be clicked again.
            }

            // -------------------------------------------------------
            // Called when the spin animation has finished by the callback feature of the wheel because I specified callback in the parameters.
            // note the indicated segment is passed in as a parmeter as 99% of the time you will want to know this to inform the user of their prize.
            // -------------------------------------------------------
            function alertPrize(indicatedSegment)
            {
                // Do basic alert of the segment text. You would probably want to do something more interesting with this information.
               // alert("รางวัลที่ได้" + indicatedSegment.text);
               window.location.href = "<?php echo $this->Html->url(array('action' => 'add_big_gift')); ?>"+'/'+indicatedSegment.text;

            }
        </script>
    </body>
</html>
