<!--div class="container">
    <div class="col-md-12">
		<div class="container">

			<h1>จัดการของรางวัล</h1>

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="pull-right">
								<a target="_blank" class="btn btn-blue btn-lg" href="<?php echo $this->Html->url(array('action' => 'gift_random',2)); ?>">สุ่มรางวัลใหญ่</a>
								<a class="btn btn-blue btn-lg" href="<?php echo $this->Html->url(array('action' => 'add_gift')); ?>"><i class="glyphicon glyphicon-plus"></i> เพิ่ม</a>
							</div>
						</div>
						<br/>
						<div class="card-body">						
							<table id="example" class="display" style="width:100%">
								<thead>
									<tr>
										<th style="width:1%"></th>
										<th>ชื่อ</th>    
										<th style="width:10%">ประเภท</th>
										<th style="width:10%">จำนวน</th>
										<th style="width:1%"></th>
									</tr>
								</thead>
								<tbody>
									<?php
									$i = 1;
									foreach ($gifts as $gift) 
									{
									?>
									<tr>
										<td>
											
											<?php
												echo $i;
												$i++;
											?>
										</td>
										<td>
											<a href="<?php echo $this->Html->url(array('controller' => 'admins','action' => 'edit_gift',$gift['Gift']['id'])); ?>" target="_blank">
												<?php
													echo $gift['Gift']['name'];
												?>
											</a>
										</td>
										<td>
											
											<?php
												echo $gift['GiftType']['name'];
											?>
										</td>	
										<td>
											
											<?php
												echo $gift['Gift']['qty'];
											?>
										</td>											

										<td>
											<a href="<?php echo $this->Html->url(array('action' => 'delete_gift',$gift['Gift']['id'])); ?>" class="btn btn-danger" onclick="return confirm_click();">
												<i class="glyphicon glyphicon-remove"></i>
											</a>
										</td>
									</tr>
									<?
									}
									?>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div-->

<div class="container" style="height:500px;">
	<br/><br/><br/><br/><br/><br/><br/>
	<div class="col-md-12">
		<div class="col-md-4">
		
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<center>		
					<a target="" class="btn btn-blue btn-lg" href="<?php echo $this->Html->url(array('action' => 'gift_random',2)); ?>">เริ่มการสุ่มรางวัล</a>
				</center>
			</div>	
		</div>
		<div class="col-md-4">
		
		</div>
	</div>	
</div>		
		
