<div class="container">
    <div class="col-xs-sm-md-lg-12">
		<div class="container">
		
					<div class="card">
						<div class="card-header">
								<a class="btn btn-info btn-lg" href="<?php echo $this->Html->url(array('controller' => 'admins','action' => 'user_list')); ?>"><i class="glyphicon glyphicon-user"></i>ผู้ใช้งาน</a>
								<a class="btn btn-info btn-lg" href="<?php echo $this->Html->url(array('controller' => 'admins','action' => 'gift_list')); ?>"><i class="glyphicon glyphicon-gift"></i>ของรางวัล</a>
								<a class="btn btn-info btn-lg" href="<?php echo $this->Html->url(array('controller' => 'admins','action' => 'logout')); ?>"><i class="glyphicon glyphicon-gift"></i>Logout</a>
						</div>
					</div>	
						
		</div>
	</div>
</div>

