<div class="container">
	<!--div class="col-md-12">
		<div class="panel panel-default" style="height:100%;">
			<div class="panel-heading" style="height:80px;">
				<div class="col-md-12 text-center" style="font-size: 30px;">
					ผลการแจกรางวัล
				</div>
			</div>
			<div class="panel-body">
				<center>
				<?php //echo($textGift["TextGift"]["description"]);?>
				<?php echo $this->Form->input('description', array('label' => false,'class' => 'form-control',
																	'type' => 'textarea','value' =>$textGift["TextGift"]["description"],
																	'readonly' => true,
																	'style' => 'font-size:18px;text-align:center;min-height:500px;',
																	'error' => array('attributes' => array('wrap' => 'div', 'class' => 'alert alert-danger'))));?>				
				</center>
			</div>			
		</div>
	</div-->
	<div class="col-md-12 text-center" style="font-size: 40px;">
		รายชื่อผู้โชคดีที่ได้รับรางวัล<br/>
		ได้แก่<br/>
	</div>

	<div class="col-md-12">
		<img src="<?php echo $this->Html->url('/img/winner1.jpg'); ?>" style="width:100%;"/>
	</div>
	<!--div class="col-md-12">
		<img src="<?php echo $this->Html->url('/img/winner2.jpg'); ?>" style="width:100%;"/>
	</div>
	<div class="col-md-12">
		<img src="<?php echo $this->Html->url('/img/winner3.jpg'); ?>" style="width:100%;"/>
	</div-->
	<!--div class="col-md-12" style="font-size: 20px;">
			<center>
<?php
						$i = 1;
						foreach ($userGifts as $userGift) 
						{
							echo($i.". ".$userGift["User"]["name"]." </br>โทรศัพท์ ".substr($userGift["User"]["phone"],0,-2)."xx</br></br>");
							$i++;
						}
?>
			</center>			
	</div-->
	
	<!--div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading" style="height:80px;">
				<div class="col-md-12 text-center" style="font-size: 30px;">
					รางวัลใหญ่
				</div>
			</div>
			<div class="panel-body">
				<table id="example" class="display" style="width:100%">
					<thead>
						<tr>
							<th>ชื่อ</th>    
							<th style="width:10%">เบอร์</th>
						</tr>
					</thead>
					<tbody>
						<?php
						$i = 1;
						foreach ($userGifts as $userGift) 
						{
							if($userGift["Gift"]["gift_type_id"] == 2)
							{
						?>
						<tr>
							<td>
								<?php echo $i.". ".$userGift["User"]["name"];?>
							</td>
							<td>
								<?php echo (substr($userGift["User"]["phone"],0,-2)."xx");?>
							</td>
						</tr>
						<?php
								$i++;
							}
						}
						?>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-default" >
			<div class="panel-heading" style="height:80px;">
				<div class="col-md-12 text-center" style="font-size: 30px;">
					รางวัลเล็ก
				</div>
			</div>
			<div class="panel-body">
				<table id="example2" class="display" style="width:100%">
					<thead>
						<tr>
							<th>ชื่อ</th>    
							<th style="width:10%">เบอร์</th>
						</tr>
					</thead>
					<tbody>
						<?php
						$i = 1;
						foreach ($userGifts as $userGift) 
						{
							if($userGift["Gift"]["gift_type_id"] == 1)
							{
						?>
						<tr>
							<td>
								<?php echo $i.". ".$userGift["User"]["name"];?>
							</td>
							<td>
								<?php echo (substr($userGift["User"]["phone"],0,-2)."xx");?>
							</td>
						</tr>
						<?php
								$i++;
							}
						}
						?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="col-md-12 fixed-bottom">
		<img src="<?php echo $this->Html->url('/img/RC - Waistband Sample.png'); ?>" style="width:100%;"/>
	</div-->

</div>

