<div class="container">
	<div class="col-md-12">
		<!--div class="col-md-12 text-center" style="font-size: 40px;">
			MAP
		</div-->
		

		<img src="<?php echo $this->Html->url('/img/maps.jpg'); ?>" style="width:100%;"/>
	</div>
</div>

<div class="container">	

<?php
	for ($i = 1; $i <= 5; $i++) 
	{
?>
		<img width="250px" src="<?=$this->webroot.'img/Marker0'.$i.'.png';?>">
		</br>
		<a href="<?php echo $this->Html->url(array('action' => 'save_photo','Marker0'.$i));?>" class="btn btn-blue btn-lg">Check-in <?php echo $i; ?></a>
		</br></br>
<?php
	}
?>										

</div>
	
<div class="container">
	<div class="col-md-12">
	<b>
<?php
		foreach ($checkinPhotos as $checkinPhoto) 
		{
			if($checkinPhoto['CheckinPhoto']['photo'] != null)
			{
				$img = $this->webroot.'img/checkin_photo'.$checkinPhoto['CheckinPhoto']['checkin_id'].'/'.$checkinPhoto['CheckinPhoto']['photo'];
				echo("Check-in Point ".$checkinPhoto['CheckinPhoto']['checkin_id']." ".$checkinPhoto['CheckinPhoto']['created']);
?>
				<img src="<?php echo $img; ?>" style="width:200px;">
				<script>(function(d, s, id) 
				{
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

				<div class="fb-share-button" 
					data-href="<?php echo $img;?>" 
					data-layout="button_count" style="width: 300px">
				</div>
				</br>
<?php				
			}
		}
?>
	</b>
	</div>
</div>
