<div class="container">	
	

	<div class="col-md-3">
		
	</div>

	<div class="col-md-6">
			<div class="row">		
					<?php echo $this->Form->create('User',array('class'=>'form-horizontal','enctype'=>'multipart/form-data')); ?>

					<div class="form-group">
						<label class="col-sm-4 control-label">กรุญากรอกเบอร์โทรศัพท์:</label>
						<div class="col-sm-8">
						<?php echo $this->Form->input('phone', array('label' => false,'class' => 'form-control',
																		'error' => array('attributes' => array('wrap' => 'div', 'class' => 'alert alert-danger')
													))); ?>
						</div>
					</div>

			</div>
			
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
						<div class="form-group ">
							<button type="submit" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span> ยืนยัน</button>
							<a href="javascript:history.go(-1)" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-remove"></span> ยกเลิก</a>
						</div>
				</div>
				<div class="col-sm-2">
				</div>
			</div>	
	</div>

	<div class="col-md-3">
		
	</div>

</div>

<div class="container" >
		<img src="<?echo $this->webroot;?>/img/Asset 1@10x.png" style="width:100%;"/>
	</div>