<!-- div class="animation-box" style="width:100%;">
	<div class="first-text">
		<h1>ยินดีต้องรับสู่</h1>
		<h2>ตรุษจีนปากน้ำโพ</h2>
		<h2>ตรุษจีนนครสวรรค์ สืบสานงานประเพณี แห่เจ้าพ่อ เจ้าแม่ปากน้ำโพ</h2>

	</div>
</div -->
<!--div class="container-fulid">

	<img src="img/header_01.png" style="width:100%;"/>

</div-->
<div class="container">
	<div class="col-md-12">
		<img src="<?php echo $this->Html->url('/img/Asset-14.png'); ?>"; style="width:100%;"/>
	</div>
</div>
	<!--div class="container">
	<br>
		<div class="col-md-12">
			<div class="col-md-4">
			</div>	
			<div class="col-md-4">
				<img src="img/Billboard for Coke _ A2.png" style="width:100%;"/>		
			</div>			
			<div class="col-md-4">
			</div>			
		</div>
	</div-->
			
<div class="container-fulid">
		<?php echo $this->Form->create('UserFacebook',array('name'=>'UserFacebook','id'=>'UserFacebook','class'=>'form-horizontal','enctype'=>'multipart/form-data')); ?>
		<?php echo $this->Form->input('facebook_id', array('id'=>'facebook_id','name'=>'facebook_id','type'=>'hidden')); ?>
		<?php echo $this->Form->input('name', array('id'=>'name','name'=>'name','type'=>'hidden')); ?>
		<?php echo $this->Form->input('email', array('id'=>'email','name'=>'email','type'=>'hidden')); ?>	

	<?php if(count($objUser) == 0){?>	
								
		<div class="col-md-12">
			<div class="col-md-4">
			</div>	
			
			<div class="col-md-4">
				<center>
				<div class="form-group">

					<fb:login-button
					  data-width="" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"				
					  scope="public_profile,email"
					  onlogin="checkLoginState();">Login with Facebook
					</fb:login-button>	
		
					<!--a href="<?php echo $this->Html->url(array("action" => "login_facebook"));?>"class="btn btn-blue btn-lg btn-block">
						<i class="fa fa-facebook" style="float:left;"></i>
						เข้าสู่ระบบด้วย facebook
					</a-->				
				</div>
				</center>			
			</div>
		
			<div class="col-md-4">
			</div>	
		
		</div>
		
	<?php } ?>

		<!--div class="col-md-12">

			<div class="col-md-4">
			</div>	
			
			<div class="col-md-4">
				<div class="form-group">
					<a href="<?php echo $this->Html->url(array('controller'=>'admins',"action" => "index"));?>"class="btn btn-blue btn-lg btn-block">
						Admin
					</a>
				</div>			
			</div>
			
			<div class="col-md-4">
			</div>	
		</div-->
		
	</div>


<script>
  var bFbStatus = false;
  var fbID = "";
  var fbName = "";
  var fbEmail = "";

  window.fbAsyncInit = function() {
    FB.init({
      appId            : '578616532951826',
      cookie      	   : true,
      xfbml            : true,
      version          : 'v5.0'
    });
	FB.AppEvents.logPageView(); 
  };
	
	(function(d, s, id){
		 var js, fjs = d.getElementsByTagName(s)[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement(s); js.id = id;
		 js.src = "https://connect.facebook.net/en_US/sdk.js";
		 fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

function statusChangeCallback(response)
{
		if(bFbStatus == false)
		{
			fbID = response.authResponse.userID;

			  if (response.status == 'connected') {
				getCurrentUserInfo(response)
			  } else {
				FB.login(function(response) {
				  if (response.authResponse){
					getCurrentUserInfo(response)
				  } else {
					console.log('Auth cancelled.')
				  }
				}, { scope: 'email' });
			  }
		}

		bFbStatus = true;
}


    function getCurrentUserInfo() {
      FB.api('/me?fields=name,email', function(userInfo) {

		  fbName = userInfo.name;
		  fbEmail = userInfo.email;

			$("#facebook_id").val(fbID);
			$("#name ").val(fbName);
			$("#email").val(fbEmail);
			$("#UserFacebook").submit();

      });
    }

function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}

//setInterval(function(){ checkLoginState(); }, 2000);

</script>


