<br>
<div class="container">
	<div class="col-md-12">
		<div class="alert alert-success">
		  <strong>รายการจอง #<?=$ck_cookie;?></strong>
		</div>
	</div>

	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
				</tr>
			</thead>
			<tbody>
				<?
				echo $output;
				?>
			</tbody>
		</table>
	</div>




</div>