<br>
<div class="container">
    <div class="col-md-12 text-center">
        <embed src="<?php echo $this->webroot.'files/documents/หลักเกณฑ์การเข้าพัก.pdf'; ?>" mce_src="file.pdf" width="100%" height="860px"></embed>
    </div>
</div>

